@font-face {
    font-family: 'Neue-Machina-Bold';
    src: url('../../fonts/PPNeueMachina-InktrapUltrabold.woff') format('woff'),
        url('../../fonts/PPNeueMachina-InktrapUltrabold.woff2') format('woff2');
}

.loader {
    /* visibility: hidden; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: rgb(142, 142, 142);
    /* background-image: linear-gradient(rgba(142, 142, 142, 1), rgba(142, 142, 142, .5)); */
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: inset(0 0 0 0);
}

.typeBox {
    clip-path: inset(0 0 0 0);
}

.logoType {
    font-family: 'Neue-Machina-Bold', sans-serif;
    color: black;
    font-size: 6vw;
}

.line {
    border-top: 2px solid black;
    clip-path: inset(0 0 0 0);
}

@media screen and (min-width: 768px) {
    .logoType {
        font-size: 3vw;
    }
}