@font-face {
    font-family: 'Anzeigen-Grotesk';
    src: url('../../fonts/anzeigen_grotesk_d_regular-webfont.woff') format('woff'),
        url('../../fonts/anzeigen_grotesk_d_regular-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Neue-Machina';
    src: url('../../fonts/PPNeueMachina-InktrapRegular.woff') format('woff'),
        url('../../fonts/PPNeueMachina-InktrapRegular.woff2') format('woff2');
}

.landing {
    position: absolute;
    width: 90dvw;
    height: auto;
    padding: 0 5dvw;
    z-index: 5;
}

.titleContainer {
    clip-path: inset(0);
    justify-content: center;
}

.title {
    
    font-family: 'Anzeigen-Grotesk', sans-serif;
    /* font-family: 'Neue-Machina', sans-serif; */
    color: white;
    font-size: 17vw;
    letter-spacing: -.5vw;
    transform: scale(1, 2);
    padding: 10dvw 0;
    margin: 0;
    /* text-align: justify; */
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (min-width: 768px) {
    .landing {
        width:  95dvw;
        height: auto;
        padding: 0 2.5dvw;
    }
    .title {
        font-size: 18vw;
        transform: scale(1, 2);
        padding: 6vw 0;
        
        /* font-weight: 200; */
        /* font-size: 8.6vw; */
    }
}